/* Styling for the document, mainly to remove margin and set a custom font */
html {
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color:#fafafa;
}

/* set a margin for the main text */
body {
    margin:20px 50px;
}

/* My shitty old toast system, will be replaced later */
/* Container for notifications */
#notificationContainer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 0;
    align-items: center;
    margin-top: 0px;
}

/* Notification element */
.notification {
    background-color: #e2363a;
    padding: 20px;
    border-radius: 15px;
    font-size: larger;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    z-index: 1;
    transition: 0.3s ease;
    display: block;
    color: #f3f3f3;
    max-width: 300px;
    text-align: center;
}

/* Make the header 1 not bold */
h1 {
    font-weight: normal;
}

/* Remove default link styling from links in a H1 */
h1 a {
    color:inherit;
    text-decoration: none;
}

/* Button for returning back to the top of the page, this style is copied from another project of mine */
#toTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #2248a2;
    color: #f7f7f7;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    transition: background-color 0.3s ease;
    border: 3px solid #2248a2;
    cursor: pointer;
    display:none;
}

/* List of all the plates that have been already added, can be found at the top of the page */
#platelist {
    display:flex;
    width:90%;
    /* gap:10px; NOT SUPPORTED BY SAFARI */
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding:0;
}

/* Styling for the list items in the plate list */
#platelist li {
    height:50px;
    width:70px;
    font-size: 20pt;
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: center;
    border:2px solid #79eade;
    border-radius: 10px;
    background-color: #212121;
    margin:5px;
}

/* Remove default link styling in the platelist */
#platelist a {
    color:inherit;
    text-decoration: none;
}

/* A grid which houses the pictures themselves */
#grid {
    display:flex;
    width: 90%;
    flex-wrap: wrap;
    margin-top: 20px;
    /* gap: 10px; NOT SUPPORTED BY SAFARI */
    margin-left: auto;
    margin-right: auto;
}

/* Styling for particular grid items */
.grid-item {
    width:30%;
    min-height:300px;
    max-height: 500px;
    background-color: #212121;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 48pt;
    margin:5px;
}

/* Sizing for the plate images in the grid */
.grid-item img {
    max-height: 100%;
    max-width: 100%;
}

/* A simple media query to support mobile devices at least a little bit */
@media only screen and (max-width: 900px) {

    /* Make body margin smaller */
    body {
        margin:20px 10px;
    }

    /* Make the list items about 1/3 of the parent width */
    #platelist a {
        width:28%;
    }

    /* One grid item takes up all the horizontal space it can */
    .grid-item {
      width:100%;
    }
  }